---
import App from '../../components/App';
import '../../styles/global.css';

const { code } = Astro.params;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
		<meta name="generator" content={Astro.generator} />
		<title>listening with</title>
	</head>
	<body class="bg-gray-100 min-h-screen text-gray-900">
		<App client:only="react" initialRoomCode={code} />
	</body>
</html>
